services:
  mariadb:
    image: mariadb:11
    ports:
      - "3306:3306"
    environment:
      MARIADB_DATABASE: bootguard
      MARIADB_USER: bootguard
      MARIADB_PASSWORD: bootguard
      MARIADB_ROOT_PASSWORD: root
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
